*{
    margin: 0;
    padding: 0 ;
}
.code_get{
    position: absolute;
    bottom: 5px;
    left: 5px;
    color: #fff;
    border: 2px solid #fff;
    padding: 10px 50px 10px 50px;
    text-decoration: none;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}